<!DOCTYPE html>
<html>
{% include head.html %}
<body>
  {% include navbar.html %}
  <div class="container">
    <div class="col-sm-3">
      {% include docs_navigation.html %}
    </div>
    <div class="col-sm-9">
      {{ content }}
    </div>
  </div>
  {% include footer.html %}
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>

</html>
