*.pyc
*.pyo
*.pyd
.git
.coverage
.circleci/
.github/
.gitignore
*.dist-info/
sceptre/__pycache__/
sceptre/*/__pycache__/
htmlcov/
dist/
sceptre.egg-info/
docs/
integration-tests/
requirements/dev.txt
tests/
Dockerfile
Makefile
NOTICE
*.ini
*.md
!README.md
!CHANGELOG.md
MANIFEST.in
