root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space

[*.json]
indent_size = 2

[*.{markdown,md}]
indent_size = 4
max_line_length = 80
trim_trailing_whitespace = false

[*.py]
indent_size = 4
max_line_legth = 120

[*.{yaml,yml}]
indent_size = 2

[Makefile]
indent_style = tab
