include CONTRIBUTORS.md
include CONTRIBUTING.md
include CHANGELOG.md
include LICENSE
include README.md
include requirements.txt
include sceptre/stack_policies/lock.json
include sceptre/stack_policies/unlock.json

recursive-include tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include docs *.rst conf.py Makefile make.bat
