@import url('https://fonts.googleapis.com/css?family=Slabo');

h1,
h2,
h3,
h4,
h5,
h6 {
  /*font-family: slabo;*/
}

.navbar {
  background-color: #fff;
  border-bottom-color: #000;
  padding: 25px;
}

.navbar-default .navbar-brand {
    color: #000;
}

.navbar-default .navbar-nav>li>a {
    color: #000;
}

/* Include padding when screens are larger than bootstrap 'sm' */
@media (min-width: 768px) {
    .spt-docs-nav {
        padding-top: 70px;
    }
}


footer {
    border-top-width: 2px;
    border-top-color: #000;
    /*background-color: #e0e0e0;*/
    margin-top: 70px;
    padding: 50px;
}

pre {
    background-color: #fff;
    border-radius: 0px;
}

.alert {
    background-color: #fff;
    border-radius: 0px
}

code {
    color: #000;
    background-color: #F4F4F4;
    border-radius: 0px;
}

.jumbotron {
    background-color: #fff;
}
