version: 2.1

executors:
  docker-publisher:
    environment:
      IMAGE_NAME: sceptreorg/sceptre
    docker:
      - image: circleci/buildpack-deps:stretch

aliases:
  - &docs-job
    docker:
      - image: sceptreorg/sceptre-circleci:2.0.0
        environment:
          REPOSITORY_PATH: '/home/circleci/docs'
          DEPLOYMENT_GIT_SSH: 'git@github.com:Sceptre/sceptre.github.io.git'
    steps:
      - checkout
      - restore_cache:
          key: sceptre-v1-{{ checksum "pyproject.toml" }}-{{ checksum "poetry.lock" }}-{{ checksum ".pre-commit-config.yaml" }}-{{ checksum "tox.ini" }}
      - add_ssh_keys:
          fingerprints:
            - '80:24:c0:40:28:36:f1:80:7f:fd:15:c3:09:cf:86:fc'
      - attach_workspace:
          at: /home/circleci
      - run:
          name: 'Build and deploy docs'
          command: |
            chmod +x .circleci/add-known-hosts.sh
            poetry run ./.circleci/add-known-hosts.sh
            chmod +x .circleci/github-pages.sh
            poetry run ./.circleci/github-pages.sh

jobs:
  build:
    docker:
      - image: sceptreorg/sceptre-circleci:2.0.0
    steps:
      - checkout
      - restore_cache:
          key: sceptre-v1-{{ checksum "pyproject.toml" }}-{{ checksum "poetry.lock" }}-{{ checksum ".pre-commit-config.yaml" }}-{{ checksum "tox.ini" }}
      - run:
          name: 'Installing Dependencies'
          command: poetry install --all-extras -v
      - run:
          name: Run pre-commit
          command: poetry run pre-commit run --all-files --show-diff-on-failure
      - run:
          name: Build package
          command: poetry build
      - save_cache:
          key: sceptre-v1-{{ checksum "pyproject.toml" }}-{{ checksum "poetry.lock" }}-{{ checksum ".pre-commit-config.yaml" }}-{{ checksum "tox.ini" }}
          paths:
            - '~/.cache/pypoetry'
            - '~/.cache/pre-commit'
            - '.tox'

  unit-tests:
    docker:
      - image: sceptreorg/sceptre-circleci:2.0.0
    steps:
      - checkout
      - restore_cache:
          key: sceptre-v1-{{ checksum "pyproject.toml" }}-{{ checksum "poetry.lock" }}-{{ checksum ".pre-commit-config.yaml" }}-{{ checksum "tox.ini" }}
      - run:
          name: Unit Tests
          command: |
            poetry run tox -e clean
            poetry run tox
            poetry run tox -e report
      - store_test_results:
          path: test-reports
      - store_artifacts:
          path: htmlcov
          destination: coverage-reports
      - save_cache:
          key: sceptre-v1-{{ checksum "pyproject.toml" }}-{{ checksum "poetry.lock" }}-{{ checksum ".pre-commit-config.yaml" }}-{{ checksum "tox.ini" }}
          paths:
            - '~/.cache/pypoetry'
            - '~/.cache/pre-commit'
            - '.tox'

  integration-tests:
    parallelism: 2
    docker:
      - image: sceptreorg/sceptre-circleci:2.0.0
        environment:
          AWS_DEFAULT_REGION: eu-west-1
    steps:
      - checkout
      - restore_cache:
          key: sceptre-v1-{{ checksum "pyproject.toml" }}-{{ checksum "poetry.lock" }}-{{ checksum ".pre-commit-config.yaml" }}-{{ checksum "tox.ini" }}
      - run:
          name: 'Integration Testing'
          command: |
            mkdir -p ~/.aws
            echo -e "[default]\nregion=eu-west-1\nsource_profile=default\nrole_arn=arn:aws:iam::743644221192:role/sceptre-integration-test-ServiceRole-1SHK9LY0T6P3F" > ~/.aws/config
            echo -e "[default]\nregion=eu-west-1\naws_access_key_id=$CI_SERVICE_AWS_ACCESS_KEY_ID\naws_secret_access_key=$CI_SERVICE_AWS_SECRET_ACCESS_KEY" > ~/.aws/credentials
            poetry run behave \
                      --junit \
                      --junit-directory build/behave \
                      $(circleci tests glob "integration-tests/features/*.feature" | circleci tests split --split-by=timings)
      - store_test_results:
          path: build/behave
          destination: build/behave
      - store_artifacts:
          path: build/behave
          destination: build/behave

  build-docker-image:
    executor: docker-publisher
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: Build Docker Image
          command: |
            docker build -t $IMAGE_NAME:latest .
      - run:
          name: Archive Docker Image
          command: docker save -o image.tar $IMAGE_NAME
      - persist_to_workspace:
          root: .
          paths:
            - ./image.tar

  deploy-docs-branch: *docs-job

  deploy-docs-tag: *docs-job

  deploy-pypi-test:
    docker:
      - image: sceptreorg/sceptre-circleci:2.0.0
    steps:
      - checkout
      - restore_cache:
          key: sceptre-v1-{{ checksum "pyproject.toml" }}-{{ checksum "poetry.lock" }}-{{ checksum ".pre-commit-config.yaml" }}-{{ checksum "tox.ini" }}
      - run:
          name: Test upload to PyPi
          command: |
            poetry config repositories.test-pypi "https://test.pypi.org/legacy/"
            poetry publish --build -r test-pypi -u $PYPI_TEST_USER -p $PYPI_TEST_PASSWORD

  deploy-pypi-prod:
    docker:
      - image: sceptreorg/sceptre-circleci:2.0.0
    steps:
      - checkout
      - restore_cache:
          key: sceptre-v1-{{ checksum "pyproject.toml" }}-{{ checksum "poetry.lock" }}-{{ checksum ".pre-commit-config.yaml" }}-{{ checksum "tox.ini" }}
      - run:
          name: Upload to PyPi
          command: poetry publish --build -u $PYPI_PROD_USER -p $PYPI_PROD_PASSWORD

  deploy-latest-dockerhub:
    executor: docker-publisher
    steps:
      - attach_workspace:
          at: /tmp/workspace
      - setup_remote_docker
      - run:
          name: Load Docker image archive
          command: docker load -i /tmp/workspace/image.tar
      - run:
          name: Publish Image to Docker Hub
          command: |
            echo "$DOCKERHUB_PASS" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin
            docker push $IMAGE_NAME:latest

  deploy-dockerhub-tagged:
    executor: docker-publisher
    steps:
      - attach_workspace:
          at: /tmp/workspace
      - setup_remote_docker
      - run:
          name: Load archived Docker image
          command: docker load -i /tmp/workspace/image.tar
      - run:
          name: Publish Tagged Image to Docker Hub
          command: |
            echo "$DOCKERHUB_PASS" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin
            IMAGE_TAG=${CIRCLE_TAG/v/''}
            docker tag $IMAGE_NAME:latest $IMAGE_NAME:$IMAGE_TAG
            docker push $IMAGE_NAME:latest
            docker push $IMAGE_NAME:$IMAGE_TAG

workflows:
  build-and-unit-test:
    jobs:
      - build:
          filters:
            branches:
              only: /^pull\/.*/
      - unit-tests:
          requires:
            - build
          filters:
            branches:
              only: /^pull\/.*/
      - build-docker-image:
          requires:
            - build
          filters:
            branches:
              only: /^pull\/.*/

  build-test-and-deploy:
    jobs:
      - build:
          filters:
            branches:
              ignore: /^pull\/.*/
      - unit-tests:
          requires:
            - build
          filters:
            branches:
              ignore: /^pull\/.*/
      - integration-tests:
          context: sceptre-core
          requires:
            - build
          filters:
            branches:
              ignore: /^pull\/.*/
      - deploy-pypi-test:
          context: sceptre-core
          requires:
            - unit-tests
          filters:
            tags:
              only: /^v([0-9]+)\.([0-9]+)\.([0-9]+)(?:([0-9A-Za-z-]+(?:\.[0-9A-Za-z-]+)*))?(?:\+[0-9A-Za-z-]+)?$/
            branches:
              ignore: /.*/
      - deploy-docs-branch:
          context: sceptre-core
          requires:
            - unit-tests
            - integration-tests
          filters:
            branches:
              ignore: /^pull\/.*/
      - build-docker-image:
          requires:
            - unit-tests
          filters:
            branches:
              ignore: /^pull\/.*/
      - deploy-latest-dockerhub:
          context: sceptreorg-dockerhub
          requires:
            - integration-tests
            - build-docker-image
          filters:
            branches:
              ignore: /^pull\/.*/

  publish:
    jobs:
      - deploy-pypi-prod:
          context: sceptre-core
          filters:
            tags:
              only: /^v([0-9]+)\.([0-9]+)\.([0-9]+)(?:([0-9A-Za-z-]+(?:\.[0-9A-Za-z-]+)*))?(?:\+[0-9A-Za-z-]+)?$/
            branches:
              ignore: /.*/
      - deploy-docs-tag:
          context: sceptre-core
          requires:
            - deploy-pypi-prod
          filters:
            tags:
              only: /^v([0-9]+)\.([0-9]+)\.([0-9]+)(?:([0-9A-Za-z-]+(?:\.[0-9A-Za-z-]+)*))?(?:\+[0-9A-Za-z-]+)?$/
            branches:
              ignore: /.*/
      - build-docker-image:
          requires:
            - deploy-pypi-prod
          filters:
            tags:
              only: /^v([0-9]+)\.([0-9]+)\.([0-9]+)(?:([0-9A-Za-z-]+(?:\.[0-9A-Za-z-]+)*))?(?:\+[0-9A-Za-z-]+)?$/
            branches:
              ignore: /.*/
      - deploy-dockerhub-tagged:
          context: sceptreorg-dockerhub
          requires:
            - build-docker-image
          filters:
            tags:
              only: /^v([0-9]+)\.([0-9]+)\.([0-9]+)(?:([0-9A-Za-z-]+(?:\.[0-9A-Za-z-]+)*))?(?:\+[0-9A-Za-z-]+)?$/
            branches:
              ignore: /.*/
