version: 2
jobs:
  build:
    docker:
      - image: cloudreach/sceptre-circleci:0.2
    steps:
      - checkout
      - run:
          name: 'Creating Virtualenv'
          command: virtualenv venv
      - restore_cache:
          key: v3-requirements-{{ arch }}-{{ checksum "requirements.txt" }}
      - run:
          name: 'Installing Requirements'
          command: |
            . ./venv/bin/activate
            pip install -r requirements.txt
            pip install awscli
      - save_cache:
          key: v3-requirements-{{ arch }}-{{ checksum "requirements.txt" }}
          paths:
            - venv
      - run:
          name: 'Installing Sceptre'
          command: |
            . ./venv/bin/activate
            pip install .
      - persist_to_workspace:
          root: /home/circleci
          paths:
            - project
  lint-and-unit-tests:
    docker:
      - image: cloudreach/sceptre-circleci:0.2
    steps:
      - attach_workspace:
          at: /home/circleci
      - restore_cache:
          key: v4-tox-requirements-{{ arch }}-{{ checksum "requirements.txt" }}-{{ checksum "tox.ini" }}
      - run:
          name: 'Linting'
          command: |
            . ./venv/bin/activate
            make lint
      - run:
          name: 'Unit Test and Coverage'
          command: |
            tox
      - store_test_results:
          path: htmlcov
      - store_test_results:
          path: htmlcov
      - store_test_results:
          path: build/pytest
      - store_artifacts:
          path: build/pytest
      - save_cache:
          key: v4-tox-requirements-{{ arch }}-{{ checksum "requirements.txt" }}-{{ checksum "tox.ini" }}
          paths:
            - .tox
  integration-tests:
    parallelism: 4
    docker:
      - image: cloudreach/sceptre-circleci:0.2
        environment:
          AWS_DEFAULT_REGION: eu-west-1
    steps:
      - attach_workspace:
          at: /home/circleci
      - run:
          name: 'Integration Testing'
          command: |
            . ./venv/bin/activate
            behave --junit \
                   --junit-directory build/behave \
                   $(circleci tests glob "integration-tests/features/*.feature" | circleci tests split --split-by=timings)
      - store_test_results:
          path: build/behave
      - store_artifacts:
          path: build/behave
  deploy-docs:
    docker:
      - image: cloudreach/sceptre-circleci:0.2
        environment:
          AWS_DEFAULT_REGION: eu-west-1
    steps:
      - attach_workspace:
          at: /home/circleci
      - restore_cache:
          key: v1-documentation-tools-{{ arch }}-{{ checksum "docs/Gemfile.lock" }}
      - run:
          name: 'Installing Documentation Tools'
          command: |
            . ./venv/bin/activate
            cd docs && make install
      - save_cache:
          key: v1-documentation-tools-{{ arch }}-{{ checksum "docs/Gemfile.lock" }}
          paths:
            - docs/vendor
      - deploy:
          command: |
            SHORT_SHA1=$(echo $CIRCLE_SHA1 | cut -c -7)
            GIT_TAG=$(git describe --abbrev=0 --tags | sed 's/\./-/g')
            . ./venv/bin/activate
            if [[ "${CIRCLE_TAG}" =~ ^v[0-9]+\.[0-9]+\.?[0-9]*$ ]]; then
              make docs-latest
              aws s3 sync ~/project/docs/_site s3://sceptre.cloudreach.com/latest/ --delete
            elif [[ "${CIRCLE_BRANCH}" == "master" ]]; then
              make docs-dev
              aws s3 sync ~/project/docs/_site s3://sceptre.cloudreach.com/dev/ --delete
            fi
workflows:
  version: 2
  build-test-and-deploy:
    jobs:
      - build
      - lint-and-unit-tests:
          requires:
            - build
      - integration-tests:
          requires:
            - build
          filters:
            branches:
              ignore: /^pull\/.*/
      - deploy-docs:
          requires:
            - lint-and-unit-tests
            - integration-tests
          filters:
            branches:
              only: master
