<div class="spt-docs-nav">
  <ul>
    <li><a href="{{ site.baseurl }}/docs/install">Installation</a></li>
    <li><a href="{{ site.baseurl }}/docs/terminology">Terminology</a></li>
  </ul>
  <hr>
  <ul>
    <li><a href="{{ site.baseurl }}/docs/cli">Commands (CLI)</a></li>
    <li><a href="{{ site.baseurl }}/docs/environment_config">Environment Config</a></li>
    <li><a href="{{ site.baseurl }}/docs/stack_config">Stack Config</a></li>
    <li><a href="{{ site.baseurl }}/docs/templates">Templates</a></li>
    <li><a href="{{ site.baseurl }}/docs/hooks">Hooks</a></li>
    <li><a href="{{ site.baseurl }}/docs/resolvers">Resolvers</a></li>
  </ul>
  <hr>
  <ul>
    <li><a href="{{ site.baseurl }}/docs/architecture">Architecting Sceptre</a></li>
    <li><a href="{{ site.baseurl }}/docs/faq">FAQ</a></li>
    <li><a href="{{ site.baseurl }}/docs/api/sceptre">API</a></li>
  </ul>
</div>
