<div class="spt-docs-nav">
  <ul>
    <li><a href="/docs/install.html">Installation</a></li>
    <li><a href="/docs/terminology.html">Terminology</a></li>
  </ul>
  <hr>
  <ul>
    <li><a href="/docs/cli.html">Commands (CLI)</a></li>
    <li><a href="/docs/environment_config.html">Environment Config</a></li>
    <li><a href="/docs/stack_config.html">Stack Config</a></li>
    <li><a href="/docs/templates.html">Templates</a></li>
  </ul>
  <hr>
  <ul>
    <li><a href="/docs/advanced_patterns.html">Advanced Patterns</a></li>
    <li><a href="/docs/faq.html">FAQ</a></li>
  </ul>
</div>
