<div class="spt-docs-nav">
  <ul>
    <li><a href="{{ site.baseurl }}/docs/install.html">Installation</a></li>
    <li><a href="{{ site.baseurl }}/docs/get_started.html">Get Started</a></li>
    <li><a href="{{ site.baseurl }}/docs/terminology.html">Terminology</a></li>
  </ul>
  <hr>
  <ul>
    <li><a href="{{ site.baseurl }}/docs/cli.html">Commands (CLI)</a></li>
    <li><a href="{{ site.baseurl }}/docs/environment_config.html">Environment Config</a></li>
    <li><a href="{{ site.baseurl }}/docs/stack_config.html">Stack Config</a></li>
    <li><a href="{{ site.baseurl }}/docs/templates.html">Templates</a></li>
    <li><a href="{{ site.baseurl }}/docs/hooks.html">Hooks</a></li>
    <li><a href="{{ site.baseurl }}/docs/resolvers.html">Resolvers</a></li>
  </ul>
  <hr>
  <ul>
    <li><a href="{{ site.baseurl }}/docs/architecture.html">Architecting Sceptre</a></li>
    <li><a href="{{ site.baseurl }}/docs/faq.html">FAQ</a></li>
    <li><a href="{{ site.baseurl }}/docs/api/sceptre.html">API</a></li>
  </ul>
</div>
