<nav class="navbar navbar-static-top navbar-default">
  <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="{{ site.baseurl }}/">Sceptre</a>
      </div>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ site.baseurl }}/intro.html">Intro</a></li>
        <li><a href="{{ site.baseurl }}/guide.html">Guide</a></li>
        <li><a href="{{ site.baseurl }}/docs/index.html">Docs</a></li>
        <li><a href="https://github.com/cloudreach/sceptre">GitHub</a></li>
      </ul>
  </div>
</nav>
