h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', sans-serif;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.navbar {
  background-color: #fff;
  border-bottom-color: #fff;
  padding: 25px;
}

.navbar-default .navbar-brand {
    color: #00701a;
}

.navbar-default .navbar-nav>li>a {
    color: #00701a;
}

/* Include padding when screens are larger than bootstrap 'sm' */
@media (min-width: 768px) {
    .spt-docs-nav {
        padding-top: 40px;
    }
}

a {
    color: #00701a;
}

a:hover {
    color: #004c40;
}

footer {
    border-top-width: 2px;
    border-top-color: #000;
    /*background-color: #e0e0e0;*/
    margin-top: 70px;
    padding: 50px;
}

pre {
    background-color: #fff;
    border-radius: 0px;
}

.alert {
    border-radius: 0px
}

code {
    color: #000;
    background-color: #F4F4F4;
    border-radius: 0px;
}

.jumbotron {
    background-color: #fff;
}

.alert-success::before {
    content: "Success: ";
}

.alert-info::before {
    content: "Info: ";
}

.alert-warning::before {
    content: "Warning: ";
}

.alert-danger::before {
    content: "Danger: ";
}
