name: comment-integration-tests

on:
  pull_request_review:
    types: [submitted]

jobs:
  integration-tests:
    if: ${{ contains(github.event.review.body, '/integration-tests') }}
    uses: "./.github/workflows/integration-tests.yaml"
    with:
      role-to-assume: "arn:aws:iam::743644221192:role/gh-oidc-sceptre-tests"
